<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <title>Eventify | Create Event</title>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <style>
    .logo-gradient {
      background: linear-gradient(90deg, #0070f3, #00b4f5);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* set the text so that its not cropped */
      height: 48px;
    }
  </style>
  <script>
    function submitForm() {
      let cek = validateForm();
      if (!cek) {
        return false;
      } else {
        // Fetch form data
        let event = $("#event").val();
        let organizer = $("#organizer").val();
        let kategori = $("#kategori").val();
        let deskripsi = $("#deskripsi").val();
        let linkPendaftaran = $("#linkPendaftaran").val();
        let deadline = $("#deadline").val();
        let hashtag1 = $("#hashtag1").val();
        let hashtag2 = $("#hashtag2").val();
        let foto = $("#foto")[0].files[0];

        // Create FormData object to send files and other data
        let formData = new FormData();
        formData.append("event_give", event);
        formData.append("organizer_give", organizer);
        formData.append("kategori_give", kategori);
        formData.append("deskripsi_give", deskripsi);
        formData.append("link_give", linkPendaftaran);
        formData.append("deadline_give", deadline);
        formData.append("hashtag1_give", hashtag1);
        formData.append("hashtag2_give", hashtag2);
        formData.append("foto_give", foto);
        // console.log(event, kategori, deskripsi);

        $.ajax({
          type: "POST",
          url: "/posting",
          data: formData,
          contentType: false,
          processData: false,
          success: alert("Berhasil menambahkan data"),
        });
      }
    }

    function validateForm() {
      // Ambil nilai dari setiap elemen formulir
      let eventName = $("#event").val();
      let organizer = $("#organizer").val();
      let category = $("#kategori").val();
      let description = $("#deskripsi").val();
      let registrationLink = $("#linkPendaftaran").val();
      let deadline = $("#deadline").val();
      let hashtag1 = $("#hashtag1").val();
      let hashtag2 = $("#hashtag2").val();
      let foto = $("#foto").val();

      // Validasi apakah setiap kolom sudah terisi
      if (!eventName || !organizer || !category || !description || !registrationLink || !deadline || !foto) {
        // Tampilkan peringatan bahwa semua kolom harus diisi
        alert("Semua kolom harus diisi!");
        return false;
      }
      return true;
    }
  </script>
</head>

<body class="bg-gray-800">
  <!-- Navbar -->
  <div class="bg-gray-900 py-2 px-4 md:px-6 lg:px-8">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="flex items-center mb-4 md:mb-0">
        <a href="/">
          <h1 class="text-4xl font-bold logo-gradient">Eventify</h1>
        </a>
      </div>
    </div>
  </div>

  <div class="min-h-screen flex items-center justify-center py-10 px-3">
    <div class=" bg-gray-800 border-2 p-5  rounded-md shadow-md w-full max-w-xl border-gray-900 mt-4 overflow-hidden">
      <h1 class="text-2xl font-semibold mb-4 text-white text-center">Create Event</h1>

      <!-- Event Form -->
      <form onsubmit="submitForm();">
        <!-- Event Name -->
        <div class="mb-4">
          <label for="event" class="block text-gray-400 font-semibold mb-2">Event Name</label>
          <input type="text" id="event" name="event" class="w-full border rounded-md py-2 px-3 bg-gray-200" required>
        </div>

        <!-- Organizer -->
        <div class="mb-4">
          <label for="organizer" class="block text-gray-400 font-semibold mb-2">Organizer</label>
          <input type="text" id="organizer" name="organizer" class="w-full border rounded-md py-2 px-3 bg-gray-200"
            required>
        </div>

        <!-- Category -->
        <div class="mb-4">
          <label for="kategori" class="block text-gray-400 font-semibold mb-2">Category</label>
          <select id="kategori" name="kategori" class="w-full border rounded-md py-2 px-3 bg-gray-200" required>
            <option value="">- Select -</option>
            <option value="Lomba">Lomba</option>
            <option value="Seminar">Seminar</option>
          </select>
        </div>

        <!-- Description -->
        <div class="mb-4">
          <label for="deskripsi" class="block text-gray-400 font-semibold mb-2">Description</label>
          <textarea id="deskripsi" name="deskripsi" rows="4" class="w-full border rounded-md py-2 px-3 bg-gray-200"
            required></textarea>
        </div>

        <!-- Registration Link -->
        <div class="mb-4">
          <label for="linkPendaftaran" class=" block text-gray-400 font-semibold mb-2">Registration Link</label>
          <input type="text" id="linkPendaftaran" name="linkPendaftaran"
            class="w-full border rounded-md py-2 px-3 bg-gray-200" required>
        </div>

        <!-- Deadline -->
        <div class="mb-4">
          <label for="deadline" class="block text-gray-400 font-semibold mb-2">Deadline</label>
          <input type="date" id="deadline" name="deadline" class="w-full border rounded-md py-2 px-3 bg-gray-200"
            required>
        </div>

        <!-- Hashtags -->
        <div class="mb-4">
          <label for="hashtags" class="block text-gray-400 font-semibold mb-2">Hashtags (optional)</label>
          <div class="flex">
            <input type="text" id="hashtag1" name="hashtags"
              class="flex-1 w-full border rounded-md py-2 px-3 mr-2 bg-gray-200" required>
            <input type="text" id="hashtag2" name="hashtags"
              class="flex-1 w-full border rounded-md py-2 px-3 bg-gray-200">
          </div>
        </div>

        <!-- Photo Upload -->
        <div class="mb-4">
          <label for="foto" class="block text-gray-400 font-semibold mb-2">Event Photo</label>
          <input type="file" id="foto" name="foto" class="w-full text-gray-200" required>
        </div>

        <!-- Submit Button -->
        <div class="mb-4 flex justify-center items-center">
          <button type="submit" class="bg-gray-300 text-gray-700 w-48 font-bold rounded-md py-2 px-4 hover:bg-gray-400">
            Create Event
          </button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>