<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <title>Eventify</title>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" href="/static/assets/favicon.ico" />
  <style>
    .logo-gradient {
      background: linear-gradient(90deg, #0070f3, #00b4f5);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* set the text so that its not cropped */
      height: 48px;
    }
  </style>
</head>

<body class="bg-gray-800">
  <!-- Navbar -->
  <div class="bg-gray-900 py-2 px-4 md:px-6 lg:px-8">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="flex items-center mb-4 md:mb-0">
        <a href="/">
          <h1 class="text-4xl font-bold logo-gradient">Eventify</h1>
        </a>
      </div>
      <div class="flex items-center">
        <button class="bg-gray-800 text-white rounded-md px-4 py-2 mr-2" onclick="window.location.href='/'">
          Kembali
        </button>
      </div>

    </div>
  </div>

  <div class="px-8 py-6">
    <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4">
      <div class="md:w-1/2">
        <div class="w-full">
          <img src="{{ event.foto }}" alt="" class="w-full" />
        </div>
      </div>
      <style>
        /* Hide scrollbar for Chrome, Safari and Opera */
        .scrollbar-hide::-webkit-scrollbar {
          display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .scrollbar-hide {
          -ms-overflow-style: none;
          /* IE and Edge */
          scrollbar-width: none;
          /* Firefox */
        }
      </style>
      <div class="md:w-1/2 space-y-2 overflow-y-auto h-auto scrollbar-hide" style="max-height: 96vh;">
        <h1 class="text-white text-4xl font-bold">{{ event.event }}</h1>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{event.kategori}}</span>
        <h2 class="text-gray-400 text-2xl">{{ event.organizer }}</h2>
        <div class="flex">
          <h4 class="text-gray-400 text-lg">{{ event.deadline|formatdate }}</h4>
          <h4 class="text-gray-400 text-lg ml-2">&middot;&nbsp;</h4>
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#9CA3AF" aria-hidden="true" width="16"
              height="16">
              <path d="M12 15a3 3 0 100-6 3 3 0 000 6z"></path>
              <path fill-rule="evenodd"
                d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z"
                clip-rule="evenodd"></path>
            </svg>
            <p class="text-gray-400 ml-1">{{ event.views }} kali dilihat</p>
          </div>
        </div>
        <p class="text-gray-400 text-base leading-relaxed text-justify whitespace-pre-line">{{ event.deskripsi }}</p>
        <div class="pt-5">
          <a target="_blank" rel="noopener noreferrer" href="{{ event.link_pendaftaran }}"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5">
            Daftar Sekarang!
          </a>
        </div>
      </div>
    </div>
    <div class="mt-8">
      <h2 class="text-2xl text-white mb-4">Komentar</h2>

      <div class="space-y-4">
        {% for comment in comments %}
        <div class="bg-gray-700 p-4 rounded">
          <div class="flex justify-between">
            <div class="flex items-center">
              <img class="w-12 h-12 rounded-full mr-4"
                src="https://ui-avatars.com/api/?name={{ comment.author }}&amp;size=128&amp;rounded=true&amp;color=fff&amp;background=1f2937"
                alt="{{ comment.author }}" />
              <div>
                <h3 class="text-lg text-white">{{ comment.author }}</h3>
                <p class="text-gray-400">{{ comment.time|formattime }}</p>
                <p class="text-gray-300">{{ comment.text }}</p>
              </div>
            </div>
            {% if comment.author == username %}
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded"
              onclick="delete_comment('{{ comment.author }}', '{{ comment.text }}')">
              Delete
            </button>
            {% endif %}

          </div>
        </div>
        {% endfor %}
      </div>

      {% if username %}
      <div class="mt-6">
        <div class="mb-4">
          <label class="text-white" for="author">Nama</label>
          <input class="bg-gray-700 text-white rounded w-full p-2 mt-1 cursor-not-allowed" type="text" id="author"
            name="author" value="{{ username }}" disabled />
        </div>
        <div class="mb-4">
          <label class="text-white" for="text">Komentar</label>
          <textarea class="bg-gray-700 text-white rounded w-full p-2 mt-1" id="text" name="text" rows="3"
            required></textarea>
        </div>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit"
          onclick="post_comment()">
          Kirim
        </button>
      </div>
      {% else %}
      <style>
        .overlay {
          filter: opacity(0.2);
        }
      </style>
      <div class="mt-6 relative">
        <div class="overlay">
          <div class="mb-4">
            <label class="text-white" for="author">Nama</label>
            <input class="bg-gray-700 text-white rounded w-full p-2 mt-1 cursor-not-allowed" type="text" id="author"
              name="author" value="" disabled />
          </div>
          <div class="mb-4">
            <label class="text-white" for="text">Komentar</label>
            <textarea class="cursor-not-allowed bg-gray-700 text-white rounded w-full p-2 mt-1" id="text" name="text"
              rows="3" required disabled></textarea>
          </div>
          <button class="cursor-not-allowed bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded center"
            type="button" disabled>
            Kirim
          </button>
        </div>
        <button class="absolute bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="button"
          onclick="location.href='/login'" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
          Login untuk Komentar
        </button>
      </div>
      {% endif %}
    </div>
  </div>

  <!-- Footer -->
  <footer class="bg-dark pt-10 pb-8">
    <div class="container mx-auto flex-col items-center justify-center text-center">
      <!-- Logo -->
      <a href="/">
        <h1 class="text-2xl font-bold logo-gradient">Eventify</h1>
      </a>
      <!-- Copyright text -->
      <p class="text-sm font-semibold text-gray-400 -mt-4">&copy; 2023 Eventify. All rights reserved.</p>

  </footer>
</body>
<script>
  $(document).ready(function () {
    $.ajax({
      type: "POST",
      url: "/event/{{ event._id }}/views",
      success: function (response) {
        return 200
      }
    });
  });

  function delete_comment(author, text) {
    var event_id = "{{ event._id }}";
    var author = author;
    var text = text;

    $.ajax({
      method: "POST",
      url: "/delete_comment",
      data: {
        event_id_give: event_id,
        author_give: author,
        text_give: text,
      },
      success: function (response) {
        Swal.fire({
          title: "Success",
          text: "Komentar berhasil dihapus.",
          icon: "success",
          confirmButtonText: "OK",
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.reload();
          }
        });
      },
      error: function (error) {
        Swal.fire({
          title: "Error",
          text: "Terjadi kesalahan saat menghapus komentar.",
          icon: "error",
          confirmButtonText: "OK",
        });
      },
    });
  }


  function post_comment() {
    var event_id = "{{ event._id }}";
    var author = "{{ username }}";
    var text = $("#text").val();

    $.ajax({
      method: "POST",
      url: "/post_comment",
      data: {
        event_id_give: event_id,
        text_give: text,
      },
      success: function (response) {
        Swal.fire({
          title: "Success",
          text: "Komentar berhasil ditambahkan.",
          icon: "success",
          confirmButtonText: "OK",
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.reload();
          }
        });
      },
      error: function (error) {
        Swal.fire({
          title: "Error",
          text: "Terjadi kesalahan saat menambahkan komentar.",
          icon: "error",
          confirmButtonText: "OK",
        });
      },
    });
  }

  function logout() {
    $.ajax({
      method: "GET",
      url: "/logout",
      success: function (response) {
        // Setelah berhasil logout, arahkan pengguna ke halaman login
        window.location.href = "/login";
      },
      error: function (error) {
        Swal.fire({
          title: "Error",
          text: "Terjadi kesalahan saat logout.",
          icon: "error",
          confirmButtonText: "OK",
        });
      },
    });
  }
</script>

</html>