<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <title>Eventify</title>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" href="/static/assets/favicon.ico" />
  <style>
    .logo-gradient {
      background: linear-gradient(90deg, #0070f3, #00b4f5);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* set the text so that its not cropped */
      height: 48px;
    }
  </style>
  <script>
    // Card Component
    function createCard(event) {
      return `<div class="rounded-xl overflow-hidden bg-gray-800 border-2 border-gray-900 mt-4 cursor-pointer" onclick="window.location.href='/event/${event._id}'">
        <div class="overflow-hidden">
            <img class="w-full h-80 object-cover transform transition-all hover:scale-125" src="${event.foto}" alt="">
        </div>
        <div class="px-4 pt-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#${event.kategori}</span>
        </div>
        <div class="px-6 pt-2 flex justify-between">
            <span class="text-gray-400">${new Date(event.deadline).toLocaleDateString('id-ID', { day: 'numeric', month: 'long', year: 'numeric' })}</span>
            <div class="flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#9CA3AF" aria-hidden="true" width="16" height="16">
                    <path d="M12 15a3 3 0 100-6 3 3 0 000 6z"></path>
                    <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd"></path>
                </svg>
                <p class="text-gray-400 ml-1">${event.views}</p>
            </div>
        </div>
        <div class="px-6 pt-2 pb-3">
            <div class="font-bold text-xl -mb-1 text-white">${event.event}</div>
            <p class="text-gray-400 text-base mb-3">${event.organizer}</p>
        </div>
    </div>`;
    }
  </script>
  <script>
    $(document).ready(function () {
      function displayAllEvents() {
        // Remove the 'border-2' class from all buttons
        $("#btnLomba").removeClass("border-2 border-gray-300");
        $("#btnSeminar").removeClass("border-2 border-gray-300");

        // Add the 'border-2' class to the clicked button
        $(this).addClass("border-2 border-gray-300");
        $.ajax({
          type: "GET",
          url: "/get_events",
          success: function (response) {
            const events = response.events;
            const postBox = $("#post-box");

            postBox.empty();

            events.forEach(function (event) {
              const card = createCard(event)
              postBox.append(card);
            });
          },
          error: function (error) {
            console.log("Error:", error);
          },
        });
      }

      // Display all events by default
      displayAllEvents();

      // Tambahkan event listener untuk tombol "All Events"
      $("#btnEvents").click(displayAllEvents);

      // Tambahkan event listener untuk tombol "Lomba"
      $("#btnLomba").click(function () {

        // Remove the 'border-2' class from all buttons
        $(".btn-category").removeClass("border-2 border-gray-300");

        // Add the 'border-2' class to the clicked button
        $(this).addClass("border-2 border-gray-300");


        // Ambil data dari endpoint Flask
        $.ajax({
          type: "GET",
          url: "/get_events",
          success: function (response) {
            const events = response.events;
            const postBox = $("#post-box");

            postBox.empty();

            const lombaEvents = events.filter(function (event) {
              return event.kategori.toLowerCase() === "lomba";
            });

            lombaEvents.forEach(function (event) {
              const card = createCard(event)
              postBox.append(card);
            });
          },
          error: function (error) {
            console.log("Error:", error);
          },
        });
      });

      // Tambahkan event listener untuk tombol "Seminar"
      $("#btnSeminar").click(function () {
        // Remove the 'border-2' class from all buttons
        $(".btn-category").removeClass("border-2 border-gray-300");

        // Add the 'border-2' class to the clicked button
        $(this).addClass("border-2 border-gray-300");


        $.ajax({
          type: "GET",
          url: "/get_events",
          success: function (response) {
            const events = response.events;
            const postBox = $("#post-box");

            postBox.empty();

            const seminarEvents = events.filter(function (event) {
              return event.kategori.toLowerCase() === "seminar";
            });

            seminarEvents.forEach(function (event) {
              const card = createCard(event)
              postBox.append(card);
            });
          },
          error: function (error) {
            console.log("Error:", error);
          },
        });
      });

      // Event listener untuk input pencarian
      $(".custom-search-input").on("input", function () {
        const searchValue = $(this).val().toLowerCase();

        $.ajax({
          type: "GET",
          url: "/get_events",
          success: function (response) {
            const events = response.events;
            const postBox = $("#post-box");

            postBox.empty();

            const filteredEvents = events.filter(function (event) {
              return (
                event.event.toLowerCase().indexOf(searchValue) !== -1 ||
                event.kategori.toLowerCase().indexOf(searchValue) !== -1
              );
            });

            filteredEvents.forEach(function (event) {
              const card = createCard(event)

              postBox.append(card);
            });
            if (filteredEvents.length === 0) {
              if ($("#no-events-message").length === 0) {
                postBox.after(`
            <div id="no-events-message" class="flex items-center justify-center w-full">
                <div class="text-center text-white w-full">
                    Event yang anda cari tidak ada.
                </div>
            </div>
        `);
              }
            } else {
              $("#no-events-message").remove();
            }
          },
          error: function (error) {
            console.log("Error:", error);
          },
        });
      });
    });
  </script>
</head>

<body class="bg-gray-800">
  <!-- Navbar -->
  <div class="bg-gray-900 py-2 px-4 md:px-6 lg:px-8">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="flex items-center mb-4 md:mb-0">
        <a href="/">
          <h1 class="text-4xl font-bold logo-gradient">Eventify</h1>
        </a>
      </div>
      <div class="flex items-center mb-4 md:mb-0">
        <input type="text" placeholder="Cari Event"
          class="bg-gray-800 text-white rounded-md px-4 py-2 mr-2 custom-search-input" />
        <button class="bg-gray-800 text-white rounded-md px-4 py-2">
          Search
        </button>
      </div>
      <div class="flex items-center">
        <button class="bg-gray-800 text-white rounded-md px-4 py-2 mr-2" onclick="window.location.href='/login'">
          Masuk
        </button>
        <button class="bg-gray-800 text-white rounded-md px-4 py-2" onclick="window.location.href='/login'">
          Daftar
        </button>
      </div>
    </div>
  </div>

  <div class="px-8 py-4">
    <div>
      <div class="card text-center text-white card-temp">
        <div class="card-header p-4 pt-3">
          <ul class="nav nav-tabs card-header-tabs flex items-center justify-center">
            <div class="category abc flex space-x-2">
              <button id="btnEvents"
                class="w-32 font-bold rounded-md border-2 border-gray-300 hover:border-gray-300 hover:border-2 hover:bg-gray-400 btn-category p-2"
                onclick="">
                All Events
              </button>
              <button id="btnLomba"
                class="w-32 font-bold rounded-md hover:border-gray-300 hover:border-2 hover:bg-gray-400 btn-category p-2">
                Lomba
              </button>
              <button id="btnSeminar"
                class="w-32 font-bold rounded-md hover:border-gray-300 hover:border-2 hover:bg-gray-400 btn-category p-2">
                Seminar
              </button>
            </div>
          </ul>
        </div>
      </div>

      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4 m-4 grid-cols-responsive" id="post-box">
      </div>
    </div>
  </div>
</body>

</html>